.title-input {
    font-size: 1rem;
    padding: 1rem;
    width: 40vw;
    height: 2rem;
    background-color: #fff;
    color: #888;
    border: none;
    border-radius: 1rem;
}

.message-input {
    font-size: 1rem;
    padding: 1rem;
    width: 40vw;
    height: 10rem;
    background-color: #fff;
    color: #888;
    border: none;
    border-radius: 1rem;
}