.file-container {
    display: flex;
    justify-content: center;
}

.file-row {
    display: flex;
    flex-direction: row;
    
    align-items: center;
    height: 4rem;
    border-bottom: 1px solid #888;
    width: 100%;
    padding-left: 1rem;
}

.file {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 24px;
    min-width: 100px;
}

.file p {
    width: 10vw;
}
.file p:first-child {
    width: 25vw;
}

.file p:last-child {
    text-align: right;
}