/* general settings */
a, a:visited {
    text-decoration: none;
    color: #000000;
}
ul {
    list-style-type: none;
}

/* navbar */
.navbar-container {
    background-color: #f8f8f8;
    width: 25vw;
    float: left;
    height: 100vh;
    background-color: #f8f8f8;
    float: left;

    /*display: flex;
    flex-direction: column;
    align-items: stretch;*/
}

.navbar-logo {
    font-size: 2rem;
    padding: 2rem;
}

.nav-item {
    width: 100%;
    padding: 2rem 0 2rem 0;
}